* {
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
    width: 100%;
    font-family: 'Oswald', sans-serif;
    background-color: rgb(250, 250, 255);
}

body {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
}

main {
    width: 95%;
    height: 80%;
    display: flex;
    justify-content: space-between;
}

img {
    width: 100%;
    height: auto;
}

/* Scrollbal personalizada */

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgb(241, 241, 245); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
    box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}