.contenedor-noticia {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 74%;
    height: 98%;
    background-color: rgb(245, 245, 255);
    border-radius: 5px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    box-shadow: 1px 1px 5px #000;
    margin-top: 20px;
}

.noticia {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
}

.noticia-titulo {
    margin: 10px 0;
    font-weight: 400;
}

.noticia-img {
    width: 50%;
    max-height: 600px;
    margin: 10px 0;
    border-radius: 10px;
}

.noticia-descCorta {
    font-weight: bold;
    margin: 10px 0 20px 0;
    word-break: break-word;
    white-space: normal;
    font-size: 1.3rem;
    text-align: center;
}

.noticia-descLarga {
    width: 85%;
    margin-bottom: 100px;
    word-break: break-word;
    white-space: pre-wrap;
    font-size: 1.3rem;
    text-align: center;
}

.a-regresar, .btn-regresar {
    position: absolute;
    width: 150px;
    height: 30px;
    bottom: 15px;
}

.btn-regresar {
    border-radius: 5px;
    border: 0;
    box-shadow: 0px 1px 5px #000;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    background-color: rgb(140, 171, 185);
    transition: all .2s ease-in-out, background-color .3s ease-in-out;
}

.btn-regresar:hover {
    box-shadow: 0px 3px 5px #333;
    transform: translateY(-3px);
    background-color: rgb(86, 109, 124);
}

